{% extends 'base.html' %}
{% block main %}
    <h2>Login</h2>
    <!-- Navigation buttons -->
    <p class="nav-buttons">
        <a href="{{ url_for('index') }}" class="button">Back to Home</a>
        <a href="{{ url_for('signup') }}" class="button">Don't have an account? Sign up</a>
    </p>

    <form action="" method="POST" novalidate>
        <!-- Renders hidden fields, including CSRF token -->
        {{ form.hidden_tag() }}
        <p>
            {{ form.role.label }} <br> {{ form.role() }}
            {% for error in form.role.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }} <br> {{ form.username(size=30) }}
            {% for error in form.username.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.passwd.label }} <br> {{ form.passwd(size=30) }}
            {% for error in form.passwd.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}