{% extends 'base.html' %}
{% block main %}
    <h2>Sign Up</h2>
    <!-- Navigation buttons -->
    <p class="nav-buttons">
        <a href="{{ url_for('index') }}" class="button">Back to Home</a>
        <a href="{{ url_for('login') }}" class="button">Already have an account? Login</a>
    </p>

    <form action="" method="POST" novalidate>
        <!-- Renders hidden fields, including CSRF token -->
        {{ form.hidden_tag() }}
        <p>
            {{ form.role.label }} <br> {{ form.role() }}
            {% for error in form.role.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.first_name.label }} <br> {{ form.first_name(size=30) }}
            {% for error in form.first_name.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.last_name.label }} <br> {{ form.last_name(size=30) }}
            {% for error in form.last_name.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.branch_id.label }} <br> {{ form.branch_id() }}
            {% for error in form.branch_id.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }} <br> {{ form.address(rows=3, cols=30) }}
            {% for error in form.address.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.phone.label }} <br> {{ form.phone() }}
            {% for error in form.phone.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }} <br> {{ form.username(size=30) }}
            {% for error in form.username.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.ssn.label }} <br> {{ form.ssn() }}
            {% for error in form.ssn.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.passwd.label }} <br> {{ form.passwd(size=30) }}
            {% for error in form.passwd.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.passwd_confirm.label }} <br> {{ form.passwd_confirm(size=30) }}
            {% for error in form.passwd_confirm.errors %}
                <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}